form {
  width: 100%;
}

.btn-group {
  padding: 1rem;
  background-color: var(--clr-neutral-100);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

@media screen and (min-width: 1000px) {
  .btn-group {
    position: static;
    padding-block: 1rem;
    padding-inline: 0;
  }
}

.btn-group .first {
  justify-self: start;
}

.btn-group .second {
  justify-self: end;
  grid-column: 2;
}
