.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--clr-primary-blue);
  transition: 0.4s;
  border-radius: 100vw;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: inherit;
}

.switch .slider--active {
  background-color: var(--clr-primary-blue);
}

.switch .slider--active:before {
  transform: translateX(26px);
}

.switch input[type="checkbox"] {
  display: none;
}

.switch label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
